.character-card{
    position: relative;
    background: #FFF;
    box-shadow: 0px 3px 6px #FFFFFF63;
    border-radius: 27px;
    padding-bottom: 30px;

    @media(min-width: 1200px){
        max-width: 387px;
    }

    @media(min-width: 1600px){
        padding-bottom: 80px;
    }
    
    .card-image{
        position: relative;
        margin: -50px -5px 0;
        text-align: center;
        border-radius: 70px;
        
        
        border: 3px transparent solid;

        &:before{
            content:'';
            position: absolute;
            box-shadow: 0px 3px 6px #FF060629;
            top:-3px;
            left: 50%;
            transform: translateX(-50%);
            width: 92%;
            height: 100%;
            background: #363636;
            z-index: 1;
            border: 3px #FFF solid;
            border-radius: 70px;
        }
    

        img{
            position: relative;
            z-index: 2;
            top:7px;
            margin-top: -28%;
        }
    }

    .card-description{
        max-width: 85%;
        margin: 20px auto 0;
        font-size: .9em;

        @media(min-width: 1600px){
            font-size: 20px;
            margin-top: 35px;
        }
    }
}