form{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label{
        width: 100%;
        position: relative;
        border: 1px solid #363636;
        margin-bottom: 20px;

        @media(min-width:768px){
            width: 48%;
        }

        @media(min-width:1600px){
            margin-bottom: 40px;
        }

        &.full{
            width: 100%;
        }


        &.error{
            border-color:red;
        }
        
        input, textarea{
            min-width: 100%;
            max-width: 100%;
            height: 42px;
            border: 0;
            font-size: .84em;
            padding: 6px 12px 0;

            @media(min-width:1600px){
                height: 48px;
                font-size: 1em;
                padding: 9px 16px 0 ;
            }
        }
        

        &:focus {
            border-color:red;
        }

        .valid{

            & + span{
                transform: translate(-20%,-98%) scale(.87);

                @media(min-width:1600px){
                    transform: translate(-20%,-90%) scale(.75);
                }
            }
        }

        textarea{
            height: 100%;
            min-height: 130px;
            padding: 15px 9px 8px ;

            @media(min-width:1000px){
                min-height: 200px;
            }

            @media(min-width:1600px){
                padding: 16px 15px 8px;
            }
            
        }

        span{
            position: absolute;
            left: 15px;
            top:10px;
            color: #363636;   
            font-size: .85em;
            display: inline-block;
            background: #FFF;
            padding: 0 6px;
            transition: transform ease 400ms;
            border-radius: 60%;

            @media(min-width:1600px){
                font-size: 18px;
            }
        }
    }

    i{
        font-size: .75em;
        color:red;
        margin: -18px 0 13px;
        display: none;

        @media(min-width:1600px){
            margin: -38px 0 30px;
        }
    }

    button{
        display: inline-block;
        background:#63C7A9;
        border:none;
        color:#FFF;
        padding: 8px 80px;

        @media(min-width:1600px){
            height: 48px;
            line-height: 48px;
            padding: 0 ;
            width: 250px;
            text-align: center;
            font-size: 18px;
        }
    }
}