.featured{
    position: relative;
    width: 100%;
    min-height: 400px;
    height: calc(100vh - 100px);
    background: url(../img/background-mobile.png) no-repeat center center /cover;
    display: flex;

    @media(min-width:768px){
        height: calc(100vh - 200px);
    }

    @media(min-width:1000px){
        height: calc(100vh - 100px);    
    }

    @media(min-width:1200px){
        height: calc(100vh + 100px)
    }


    @media(min-width:1700px){
        height: 100vh;
    }
    
    
    .container{
        display: flex;
        justify-content: center;
    }

    .transistor{
        position: relative;
        width: 92%;
        max-width: 355px;
        color:#FFF;
        padding: 12px 30px 0 ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media(min-width:768px){
            max-width: 500px;
        }

        @media(min-width:1000px){
            max-width: 400px;
        }

        @media(min-width:1200px){
            max-width: 500px;
        }

        @media(min-width:1600px){
            max-width: 540px;
        }

        @media(min-width:1700px){
            max-width: 586px;
        }

        img,p{
            position: relative;
            z-index: 2;
            margin: 0;
        }

        &:before{
            content: '';
            background: url(../img/background-card.svg) no-repeat center top / cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            z-index: 1;
        }

        .legend{
            font-weight: 700;
            font-size: 11px;
            margin-bottom: 13px;

            @media(min-width:768px){
                font-size: 13px;
            }

            @media(min-width:1600px){
                font-size: 15px;
            }
        }

        .description{
            font-size: 15px;
            max-width: 271px;
            width: 65%;
            text-align: center;
            margin: 10px auto 10%;
            line-height: 1.15;

            @media(min-width:768px){
                font-size: 18px;
            }

            @media(min-width:1600px){
                font-size: 20px;
                width: 72%;
            }
        }
    }

    @media only screen and (orientation:landscape){
        min-height: 620px;
    }
    
}

.characters{
    position: relative;
    background-color: #363636;    
    padding: 80px 0;
    z-index: 2;

    @media(min-width:768px){
        padding: 80px 0 120px;
    }
    
    @media(min-width:1600px){
        padding:107px 0 180px;
        max-height: 1147px;
    }

    .mouse{
        position: absolute;
        top:-20px;
        left: 50%;
        transform: translateX(-50%);
        width: 22px;
        height: 37px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 124px;
        display: none;
        animation: shake 3s forwards infinite;

        &::before{
            content:"";
            position: absolute;
            left:50%;
            transform: translateX(-50%);
            top:10%;
            background: rgb(39, 39, 39);
            width: 3px;
            height: 7px;
            border-radius: 3px;
        }

        &:after {
            display: block;
            content: "";
            position: absolute;
            left: 50%;
            bottom: -20px;
            border: solid #FFF;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg) scale(1.1) translateX(-50%);
            -webkit-transform: rotate(45deg) scale(1.1) translateX(-50%);
        }

        @media(min-width:1000px){
            display: block;

        }
    }

    .container{
        @media(max-width: 991px){
            max-width: 100%;
            padding: 0;
        }
    }

    .swiper-container{
        @media(min-width:768px) and(max-width: 991px){
            padding-left: 5%;
            padding-right: 5%;
        }

        @media(min-width:1000px){
            padding: 0 7%;
        }
        
    }

    .swiper-wrapper, .swiper-slide{
        display: flex;
        align-items: stretch;
        height: auto;
    }

    .swiper-slide{
        padding-top: 140px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
    }

    .swiper-button-prev, .swiper-button-next{
        display: none;

        &:before, &:after{
            color:#FFF;
        }


        @media(min-width:1000px){
            display: block;
        }
    }

}

.form{
    position: relative;
    z-index: 3;
    background: transparent linear-gradient(143deg, #7DEDE2 0%, #58B790 100%);
    

    .container{
        display: flex;
        justify-content: center;
    }

    .form-content{
        position: relative;
        background: #FFF;
        box-shadow: 0px 0px 6px #0000004D;
        border-radius: 5px;
        margin: -25px 0;
        padding: 40px 20px;

        @media(min-width:768px){
            padding: 50px 70px;
        }


        @media(min-width:1000px){
            padding: 50px 100px;
        }

        @media(min-width:1200px){
            max-width: 1000px;
            padding: 80px 170px 100px;
            margin: -40px 0;
        }

        @media(min-width:1200px){
            max-width: 1082px;
            height: 832px;
        }
        

        p{
            font-size: .85em;
            line-height: 1.4;
            color: #363636;
            margin-bottom: 25px;

            @media(min-width:1000px){
                font-size: 1em;
                margin-bottom: 30px;
            }

            @media(min-width:1600px){
                margin-top: 0;
                margin-bottom: 51px;
                font-size: 19px;
                line-height: 1.5;
            }
            
        }
    
        .title{
            font-weight: 700;
            font-size: 1.43em;
            color:#63C7A9;
            text-align: center;
            font-family: "MontSerrat";
            margin-bottom: 8px;

            @media(min-width:1000px){
                font-size: 2em;
                margin-bottom: 12px;
            }

            @media(min-width:1600px){
                font-size: 35px;
                margin-bottom: 41px;
            }
        }
    }

    form{
        @media(min-width:1000px){
            max-width: 85%;
            margin: 0 auto;
        }
    }
}

@keyframes shake {
    0%   {
        transform: translateX(-50%) translateY(0);
    }
    5% {
        transform: translateX(-50%) translateY(8%);
    }
    10%   {
        transform: translateX(-50%) translateY(0);
    }
    15%   {
        transform: translateX(-50%) translateY(8%);
    }
    20%   {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform:  translateX(-50%) translateY(0);
    }
}
  