@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';
@import 'node_modules/swiper/css/swiper';
@import 'node_modules/izitoast/dist/css/iziToast';

@import 'layout/fonts';
@import 'layout/header';
@import 'layout/footer';

@import 'components/characters-card.scss';
@import 'components/form';

@import 'landing';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    font-family: "Open Sans";
    
}

ul{
    list-style: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    @media(min-width: 1600px){
        max-width: 1580px;
    }
    @media(min-width: 1700px){
        max-width: 1670px;
    }
}