footer{
    position: relative;
    width: 100%;
    background:#363636;
    padding-bottom: 40%;

    @media(min-width:1000px){
        padding-bottom: 20%;
    }

    @media(min-width:1600px){
        height: 410px;
        padding-bottom: 0;
    }
}

.goTop{
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 25%;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    background: #FFF;
    transition: transform 400ms ease;
    transform: translateY(0);

    @media(min-width:1000px){
        top:35%
    }

    @media(min-width:1600px){
        width: 107px;
        height: 107px;
        right: 140px;
    }

    &:hover{
        transform: translateY(-10%);
    }

    &:before {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        top:50%;
        border: solid #363636;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: translate(-50%, -0%) rotate(-135deg) scale(4);
        -webkit-transform: translate(-50%, -0%) rotate(-135deg) scale(4);
    }
}