header{
    position: relative;
    width: 100%;
    background: #363636;
    height: 70px;
    display: flex;
    
    @media(min-width:1200px){
        height: 109px;
    }
    

    .container{
        display: flex;
        justify-content: center;
    }

    .logo{
        display: flex;
        align-items: center;

        img{
            max-width: 65px;

            @media(min-width:1200px){
                max-width: 85px;
            }
        }

        h1{
            font-size: 1em;
            margin: 0 0 0 10px;
            color:#FFF;
            font-family: "MontSerrat";
            font-weight: 700;

            @media(min-width:1200px){
                font-size: 23px;
                margin-left: 35px;
            }

            
        }
    }
}