@@include('./includes/header.html')

<section class="featured">
	<div class="container">
		<div class="transistor">
			<p class="legend">TRANSISTOR - RED THE SINGER</p>
			<div class="card">
				<img src="@@webRoot/assets/img/card.png" alt="TRANSISTOR - RED THE SINGER">
			</div>
			<p class="description">"Olha, o que quer que você esteja pensando, me faça um favor, não solte."</p>
		</div>
	</div>
</section>
<section class="characters">
	<div class="container">
		<div class="mouse">
			<div class="arrow"></div>
		</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="character-card">
						<div class="card-image">
							<img src="@@webRoot/assets/img/Grant.png" alt="Camerata">
						</div>
						<div class="card-description">
							<p>A Camerata foi apenas os dois no início, e suas fileiras nunca foram destinadas a exceder um número a ser contado em uma mão.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="character-card">
						<div class="card-image">
							<img src="@@webRoot/assets/img/Red.png" alt="Red">
						</div>
						<div class="card-description">
							<p>Red, uma jovem cantora, entrou em posse do Transistor. Sendo a poderosa espada falante. O grupo Possessores quer tanto ela quanto o Transistor e está perseguindo implacavelmente a sua procura.</p>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="character-card">
						<div class="card-image">
							<img src="@@webRoot/assets/img/Sybil.png" alt="Sybil">
						</div>
						<div class="card-description">
							<p>Sybil é descrita pelo Transistor como sendo os "olhos e ouvidos" da Camerata.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>

<section class="form">
	<div class="container">
		<div class="form-content">
			<p class="title">FORMULÁRIO</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			</p>
			<form action="" method="POST">
				<label>
					<input type="text" name="nome" required>
					<span>Nome</span>
				</label>
				
				<label>
					<input type="email" name="email" required>
					<span>E-mail</span>
				</label>
				
				<label class="full">
					<textarea name="mensagem" required></textarea>
					<span>Mensagem</span>
				</label>
				<button>ENVIAR</button>
			</form>
		</div>
	</div>
</section>

@@include('./includes/footer.html', {
	"footerJS": "footer-bundle.js"
})
